[tool.poetry]
name = "ikea-api"
version = "0.5.1"
description = "IKEA API Client"
license = "MIT"
authors = ["vrslev <mail@vrslev.com>"]
readme = "README.md"
repository = "https://github.com/vrslev/ikea-api-client"
keywords = ["IKEA", "IKEA API", "API", "API client"]
classifiers = [
  "License :: OSI Approved :: MIT License",
  "Programming Language :: Python",
  "Programming Language :: Python :: 3",
  "Programming Language :: Python :: 3 :: Only",
  "Programming Language :: Python :: 3.7",
  "Programming Language :: Python :: 3.8",
  "Programming Language :: Python :: 3.9"
]

[tool.poetry.dependencies]
python = ">=3.7"
aiohttp = "^3.7.4"
requests = ">=2.25.0"
Brotli = "^1.0.9"
chromedriver-autoinstaller = "^0.2.2"
selenium = "^3.141.0"

[tool.poetry.dev-dependencies]
black = "^21.7b0"
pre-commit = "^2.13.0"

[tool.black]
target-version = ["py37", "py38", "py39"]

[tool.isort]
profile = "black"

[tool.pyright]
exclude = ["venv"]
typeCheckingMode = "strict"
pythonVersion = "3.7"
reportPrivateUsage = false
reportMissingTypeStubs = false

[tool.semantic_release]
branch = "main"
version_toml = "pyproject.toml:tool.poetry.version"
build_command = "pip install -U pip poetry && poetry build"
commit_subject = "Ñhore: Update version to {version}"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
