[tool.black]
target-version = ["py37", "py38", "py39"]

[tool.isort]
profile = "black"

[tool.pyright]
exclude = ["venv"]
typeCheckingMode = "strict"
pythonVersion = "3.7"
reportMissingTypeStubs = false

[tool.semantic_release]
branch = "main"
version_variable = "src/ikea_api/__init__.py:__version__"
build_command = "pip install build && python -m build"
commit_subject = "—Åhore: Update version to {version}"

[build-system]
requires = ["setuptools", "wheel"]
