name: Pre-commit

on: [push]

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Cache
        uses: actions/cache@v2
        with:
          path: |
            ~/.cache/pre-commit
            ~/.cache/pip
          key: ${{ runner.os }}-pre-commit-${{ hashFiles('.pre-commit-config.yaml') }}
      - name: Install Python
        uses: actions/setup-python@v2
        with:
          python-version: "3.7"
      - name: Install package
        run: |
          python -m pip install -q -U pip -e ."[driver]"
      - name: Run pre-commit
        uses: pre-commit/action@v2.0.3
