# Semantic Release
# - Update CHANGELOG.md
# - Update version in __init__.py
# - Create Git Tag
# - Create GitHub Release
# - Publish to PyPI

name: Release

on:
  push:
    branches:
      - main

jobs:
  release:
    runs-on: ubuntu-latest
    concurrency: release

    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Install Python 3.7
        uses: actions/setup-python@v2
        with:
          python-version: 3.7

      - name: Cache
        uses: actions/cache@v2
        with:
          path: |
            ~/.cache/pip
            ~/.cache/pypoetry
          key: ${{ runner.os }}-${{ matrix.python-version }}-pre-commit-${{ hashFiles('poetry.lock') }}

      - name: Install dependencies
        run: |
          pip install -U pip python-semantic-release
          pip install .

      - name: Semantic Release
        run: |
          git config --global user.name "github-actions"
          git config --global user.email "action@github.com"
          semantic-release publish -v INFO -D commit_author="github-actions <action@github.com>"
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          PYPI_TOKEN: ${{ secrets.PYPI_TOKEN }}
